/*Navbar*/
.navbar-brand img {
	width: 55%;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.9));
}

.navbar-brand {
	font-family: Viga;
	font-size: 20px;
}


/* Jumbotron */
.jumbotron {
	background-image: url(../img/013.jpg) !important;
	background-size: cover;
	height: 750px;
	text-align: center;
	position: relative;
}

.jumbotron .container {
	z-index: 1;
	position: relative;
}

/* gradasibackground */
.jumbotron::after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4 {
	color: white;
	margin-top: 150px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	font-weight: 200;
	font-size: 40px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span {
	font-weight: 500;
}


/* panel 24jam */
.panel-24jam {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: -125px;
	background-color: white;
	padding: 30px;
}

.panel-24jam img {
	width: 80px;
	height: 80px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.panel-24jam h4 {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}

.panel-24jam p {
	font-size: 15px;
	color: #ACACAC;
	margin-top: -5px;
	font-weight: 200;
}

.layanan {
	text-align: center;
	font-size: 25px;
	padding-bottom: 15px;
}

/* sejarah */
.sejarah {
	margin-top: 120px;
	text-align: center;
}


.sejarah img {
	border-radius: 12px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.sejarah h3 {
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}

.sejarah h3 span {
	font-weight: 500;
}

.sejarah p {
	font-size: 18px;
	color: black;
	font-weight: 200;
	margin: 30px 0;
}


/* partner parallax */
.plx {
	background-image: url(../img/201.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 80px;
	height: 570px;
}


.clients h3 {
	color: white;
	text-align: center;

}

.partner img {
	max-width: 250px;
}


/* footer */
.top-footer {
	background-color: #212121;
	padding: 3vw 4vw;
	margin-right: 0;
	margin-top: 100px;
	width: 100%;
}

.top-footer .title-footer-top {
	color: #33a4ff;
	font-weight: 700;
}

.text-footer-top {
	color: #ACACAC;
	font-size: 14px;
	margin-top: 10px;
}

.top-footer a i {
	text-decoration: none;
	color: #ACACAC;
	margin: 5px 0;
}

.bottom-footer {
	background-color: #333333;
}

.pull-left {
	margin-top: 12px;
}


.bottom-footer p {
	color: #ACACAC;
}

/*Utility*/
.tombol {
	text-transform: uppercase;
	border-radius: 40px !important;
}

/* testimonials */
#testimonials {
	padding-top: 100px;
	padding-bottom: 100px;
}

#testimonials .col-md-4 {
	padding: 10px 30px;
}

#testimonials img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: -30px;
	margin-top: -40px;
	border: 5px solid #fff;
	margin-bottom: 30px;
}

.review {
	font-size: 16px;
	padding: 10px 10px 10px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.review .fa-twitter,
.fa-instagram,
.fa-google,
.fa-facebook {
	color: #013f7e;
}

#testimonials span {
	color: #013f7e;
	font-weight: 600;
	font-size: 18px;
}

#testimonials h1 {
	margin-bottom: 20px;
	color: #013f7e;
}

#testimonials p {
	padding-bottom: 20px;
}

#testimonials .middle {
	margin-bottom: -30px;
	margin-top: -30px;
}

#testimonials .middle2 {
	margin-bottom: 60px;
	margin-top: 60px;
}

#news h1 {
	margin-bottom: 20px;
	color: #013f7e;
}

#news a {
	text-decoration: none !important;
	color: #212121 !important;
}

.tentang {
	background-image: url(../img/bg_body5.png) !important;
	background-size: cover;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

.judul {
	color: rgb(5, 5, 5) !important;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

p .visi {
	font-size: 32px !important;
}

#promosi a {
	text-decoration: none !important;
	color: #212121 !important;
}

#promosi h1 {
	margin-bottom: 20px;
	color: #013f7e;
}

.btn-link {
	text-decoration: none !important;
	color: #212121 !important;
}

.nama-dokter {
	font-weight: bold !important;
	font-size: 12px !important;
}

.tombol2 {
	text-transform: none;
	border-radius: 20px !important;
}

#v-pills-tabContent img {
	border: 3px solid rgb(192, 190, 190) !important;
}

.time-dokter {
	text-align: center;
	font-style: bold;
}


p b {
	font-size: 20px !important;
	color: #eb6423;
}

.catatan {
	font-weight: bold;
	font-size: 18px;
	color: #eb6423;
}

.day {
	font-weight: bold;
	font-size: 13.5px;
	color: #7e8ea6;
}

.day2 {
	font-weight: bold;
	font-size: 12px;
}

.time {
	font-size: 11px;
	font-weight: bold;
	color: black;
}

#dokter,
#information,
#tentangkami,
#histori,
#rinap,
#medias,
#kontak,
#komentar {
	margin-top: 70px !important;
}

.name-form:hover {
	border: 1.5px solid #eb6423;
	box-shadow: none;
}

.name-form,
.btn-sub {
	border-radius: 20px;
}

.nav-link,
.service-bar:hover {
	color: #eb6423;
}

.nav-link.menu-bar {
	color: black !important;
	text-shadow: none !important;
	font-weight: 500 !important;
}

.nav-link.room-service {
	color: #eb6423 !important;
	text-shadow: none !important;
	font-weight: 480 !important;
}


#v-pills-pastoral-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-unggulan-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-pkhusus-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-profile-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-home-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterAnak-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterKandungan-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterTHT-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterBedahAnak-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterBedahUmum-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterPenyakitDalam-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterGigi-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterPatologiAnatomi-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterPatologiKlinis-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterRadiologi-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterUmum-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-DokterAnastesi-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-dataperkembangan-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-visimisi-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-managment-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-hakKewajiban-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

#v-pills-tataTertib-tab:hover {
	background-color: #7e8ea6 !important;
	color: #f2f3f6 !important;
}

h6 {
	color: #eb6423 !important;
}

.media-card:hover {
	transition: 1s;
	transform: scale(1.1);
	filter: grayscale(100%);
}

.card-header:hover {
	background-color: #eb6423 !important;
	transition: 1s;
	transform: scale(1.1);
}

.koneksi {
	color: #f2f3f6 !important;
}

.pelayanan h1 {
	margin-bottom: 50px !important;
}


/* -------------------------------------------------------------------------------------- */
/*DESKTOP VERSION*/
@media (min-width: 992px) {

	.navbar-brand,
	.nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}


	.nav-item:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	/* dropdown */
	.dropdown:hover>.dropdown-menu {
		display: block;
	}

	.dropdown>.dropdown-toogle:active {
		pointer-events: none;
	}

	.jumbotron {
		margin-top: -75px;
		height: 640px;
	}

	.jumbotron .display-4 {
		font-size: 62px;
	}

	.sejarah {
		text-align: left;
	}

	.plx {
		height: 280px;
	}

	.testimonial h5 {
		font-size: 32px;
	}

	/* testimonials */
	#testimonials {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.nav-pills a.active {
		background-color: #f2f3f6 !important;
		color: #eb6423 !important;
		text-shadow: none;
		font-weight: 700;
	}
}
